<%= form_for(@cartitem) do |f| %>
  <% if @cartitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartitem.errors.count, "error") %> prohibited this cartitem from being saved:</h2>

      <ul>
      <% @cartitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :draw_id %><br />
    <%= f.number_field :draw_id %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br />
    <%= f.number_field :cart_id %>
  </div>
  <div class="field">
    <%= f.label :picked_number %><br />
    <%= f.number_field :picked_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
