<h1>Listing cartitems</h1>

<table>
  <tr>
    <th>User</th>
    <th>Draw</th>
    <th>Unit price</th>
    <th>Quantity</th>
    <th>Comment</th>
    <th>Cart</th>
    <th>Picked number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cartitems.each do |cartitem| %>
  <tr>
    <td><%= cartitem.user_id %></td>
    <td><%= cartitem.draw_id %></td>
    <td><%= cartitem.unit_price %></td>
    <td><%= cartitem.quantity %></td>
    <td><%= cartitem.comment %></td>
    <td><%= cartitem.cart_id %></td>
    <td><%= cartitem.picked_number %></td>
    <td><%= link_to 'Show', cartitem %></td>
    <td><%= link_to 'Edit', edit_cartitem_path(cartitem) %></td>
    <td><%= link_to 'Destroy', cartitem, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cartitem', new_cartitem_path %>
