<% content_for :head do %>
  <style type="text/css">
    #nav_slide { margin: 20px auto }
    #nav_slide a { padding: 4px 6px; margin: 3px; border: 1px solid #ccc; text-align: center; text-decoration: none; background-color: #ddd }
    #nav_slide a.activeSlide { color: #c00 }
    #nav_slide a:focus { outline: none; }

    .slideshow { }
    .slide {}
    .slideshow, .slide { height: 300px; width: 100%;}
    .slideshow img {  border: 1px solid #ccc; background-color: #eee; margin: 0 }
    
    .hero-unit {
      padding-top: 60px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
      height:240px;
      font-size: 18px;
      font-weight: 200;
      line-height: 30px;
      color: inherit;
      cursor:pointer
      background-color: #eeeeee;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
    
  </style>

  <!-- include jQuery library -->
  <%= javascript_include_tag ['jquery-1.8.3', 'application'] %>
  <!-- include Cycle plugin -->
  <%= javascript_include_tag ['jquery.cycle2', 'application'] %>

<% end %>

<div class="row" style="height:350px;">
  <div class="cycle-slideshow" data-cycle-fx="fade" 
    data-cycle-timeout="3000"
    data-cycle-slides="> div"
     >
     <div class="slide center hero-unit">
         <h1><%= t("static_pages.home.headline1_welcome") %></h1>
         <h2>
           <%= t("static_pages.home.headline2_1_win_prizes") %>
           <%= t("static_pages.home.headline2_2_win_prizes") %> <%= t("static_pages.home.headline2_3_win_prizes")%>.
         </h2>
         <div>
         <%= link_to t("main.sign_up") + " " + t("main.now") + "!", new_user_path, class: "btn btn-large btn-primary" %>
         </div>
     </div>

     
    <% @promo_draws.each do |promo_draw| 
       promo_image = promo_draw.draw_images.find(:first, :conditions => "image_type='main_banner'")
    %>
    	<div class="slide">
        <%= link_to(image_tag(promo_image.image.url(:original), :style => "width:940px;height:300px;" ), promo_draw) if !promo_image.nil? %>
        <h1><span style="color:yellow;top:50px;position:absolute;left:50px;"><%= t("page.home.headline3_first_game")%></span></h1>
        <span style="position:absolute;top:225px;left:50px;"><%= link_to t("main.join"), promo_draw, class: "btn btn-large btn-primary" %></span>
        <span style="position:absolute;top:225px;left:160px;"><%= link_to t("main.how_it_works"), how_to_win_path, class: "btn btn-large btn-primary" %></span>
      </div>
    <% end %>  
  </div>
</div>


<div class="row">
  <div class="span12">
    <% @draws_medium_banner.each_slice(3) do |row| %>
      <div class="row-fluid">
        <% row.each do |col| %>
          <div class="span4 center" style="border-style:solid;border-width:1px;margin:5px;padding-top:25px;padding-bottom:25px;">
            <h2><%= link_to(col.title, col) %></h2>
            <p><%= link_to(image_tag(col.avatar.url(:medium)), col) %></p>
            <p>Time left: <%= time_ago_in_words(col.date_due) %></p>
            <p>
            <% if  Time.now <= col.date_due %>
              <%= link_to "Join this draw", col, :class => "btn btn-large btn-primary" %>
            <% else %>
              <%= link_to "Finished", "#", :class => "btn btn-large btn-primary" %>
            <% end %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


