<% content_for :head do %>
  <style type="text/css">
    #nav_slide { margin: 20px auto }
    #nav_slide a { padding: 4px 6px; margin: 3px; border: 1px solid #ccc; text-align: center; text-decoration: none; background-color: #ddd }
    #nav_slide a.activeSlide { color: #c00 }
    #nav_slide a:focus { outline: none; }

    .slideshow { }
    .slide {}
    .slideshow, .slide { height: 300px; width: 100%;}
    .slideshow img {  border: 1px solid #ccc; background-color: #eee; margin: 0 }
    
    .hero-unit {
      padding-top: 60px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
      height:240px;
      font-size: 18px;
      font-weight: 200;
      line-height: 30px;
      color: inherit;
      cursor:pointer
      background-color: #eeeeee;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
    
  </style>

  <!-- include jQuery library -->
  <%= javascript_include_tag ['jquery-1.8.3', 'application'] %>
  <!-- include Cycle plugin -->
  <%= javascript_include_tag ['jquery.cycle2', 'application'] %>

<% end %>

<%= session[:site_country] %>
<% content_for :wide do %>
<div class="row" style="height:500px;">
  <div class="cycle-slideshow" data-cycle-fx="fade" 
    data-cycle-timeout="3000"
    data-cycle-slides="> div"
     >

     
    <% @promo_events.each do |promo_event| 
       promo_photo = promo_event.photos.find(:first, :conditions => "image_type='main_banner'")
    %>
    	<div class="slide">
        <%= link_to(image_tag(promo_photo.image.url(:original), :style => "width:100%;height:450px;", :width => "100%" ), promo_event) if !promo_photo.nil? %>
        <span style="position:absolute;top400px;left:100px;">
          <% # link_to "CONCORRA AGORA MESMO!", promo_event, :class => "btn btn-black btn-bigger btn-primary" %>
        </span>
      </div>
    <% end %>  
  </div>
</div>
<% end %>
<div class="row">
  <div class="span4">
    <h2>
      <%= @events_first[0].category.title if @events_first.count > 0 %>
    </h2>
    <% @events_first.each do |col| %>
      <div class="row center" style="border-style:solid;border-width:1px;margin:5px;padding-top:25px;padding-bottom:25px;">
        <h2><%= link_to(col.title, col) %></h2>
        <p><%= link_to(image_tag(col.avatar.url(:original), :style => "width:250px;height:250px;"), col) %></p>
        <p>Due Date: <%= l col.date_due, :format => :simple_date if !col.date_due.nil? %></p>
        <p>Time left: <%= distance_of_time_in_words_to_now(col.date_due, true) %></p>
        <p>
        <% if  Time.now <= col.date_due %>
          <%= link_to "Join this event", col, :class => "btn btn-black btn-large btn-primary" %>
        <% else %>
          <%= link_to "Finished", "#", :class => "btn btn-black btn-large btn-primary" %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="span4">
    <h2>
      <%= @events_second[0].category.title if @events_second.count > 0 %>
    </h2>
    <% @events_second.each do |col| %>
      <div class="row center" style="border-style:solid;border-width:1px;margin:5px;padding-top:25px;padding-bottom:25px;">
        <h2><%= link_to(col.title, col) %></h2>
        <p><%= link_to(image_tag(col.avatar.url(:original), :style => "width:250px;height:250px;"), col) %></p>
        <p>Due Date: <%= l col.date_due, :format => :simple_date if !col.date_due.nil? %></p>
        <p>Time left: <%= distance_of_time_in_words_to_now(col.date_due) %></p>
        <p>
        <% if  Time.now <= col.date_due %>
          <%= link_to "Join this event", col, :class => "btn btn-black btn-large btn-primary" %>
        <% else %>
          <%= link_to "Finished", "#", :class => "btn btn-black btn-large btn-primary" %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="span4">
    <h2>
      <%= @events_third[0].category.title if @events_third.count > 0 %>
    </h2>
    <% @events_third.each do |col| %>
      <div class="row center" style="border-style:solid;border-width:1px;margin:5px;padding-top:25px;padding-bottom:25px;">
        <h2><%= link_to(col.title, col) %></h2>
        <p><%= link_to(image_tag(col.avatar.url(:original), :style => "width:250px;height:250px;"), col) %></p>
        <p>Due Date: <%= l col.date_due, :format => :simple_date if !col.date_due.nil? %></p>
        <p>Time left: <%= time_ago_in_words(col.date_due) %></p>
        <p>
        <% if  Time.now <= col.date_due %>
          <%= link_to "Join this event", col, :class => "btn btn-black btn-large btn-primary" %>
        <% else %>
          <%= link_to "Finished", "#", :class => "btn btn-black btn-large btn-primary" %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>




