<% content_for :head do %>
  <style type="text/css">
    #nav_slide { margin: 20px auto }
    #nav_slide a { padding: 4px 6px; margin: 3px; border: 1px solid #ccc; text-align: center; text-decoration: none; background-color: #ddd }
    #nav_slide a.activeSlide { color: #c00 }
    #nav_slide a:focus { outline: none; }

    .slideshow { }
    .slide {}
    .slideshow, .slide { height: 300px; width: 100%;}
    .slideshow img {  border: 1px solid #ccc; background-color: #eee; margin: 0 }
    
    .hero-unit {
      padding-top: 60px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
      height:240px;
      font-size: 18px;
      font-weight: 200;
      line-height: 30px;
      color: inherit;
      cursor:pointer
      background-color: #eeeeee;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
  </style>
<% end %>
<%= javascript_include_tag "jquery.cycle2" %>

<%= session[:site_country] %>
<% content_for :wide do %>
<div class="row" style="height:450px;">
  <div class="cycle-slideshow" style="height:450px;" data-cycle-fx="fade" 
    data-cycle-timeout="3000"
    data-cycle-slides="> div"
     >
    <% @events_promo.each do |promo_event| 
      promo_bg = promo_event.photos.find(:first, :conditions => "image_type='banner_bg'")
      promo_photo = promo_event.photos.find(:first, :conditions => "image_type='banner_image'")
    %>
    	<div class="slide slide_banner" style="position:relative;">
    	  <div style="clear: both;width:100%;height:450px;background:#232323 url(<%= promo_bg.image.url(:original) if !promo_bg.nil? %>) no-repeat center; background-size:100% 450px;">
        </div>
        <div style="position:absolute;top:0px;left:0px;width:100%;height:450px;background:transparent url(<%= promo_photo.image.url(:original) if !promo_photo.nil? %>) no-repeat center;">
        </div>
        <div style="position:absolute;top:0px;left:0px;width:100%;height:450px;text-align:center;">
          <%= link_to(image_tag('transparent.png', :style => "height:100%;width:100%;"), promo_event) %>
        </div>
        <div style="line-height:30px;font-size:26px;color:white;position:absolute;top:400px;left:103px;z-index:7500;">
				Fatam: <%= distance_of_time_in_words_to_now(promo_event.date_due) %>
        </div>


 
        <div style="line-height:30px;font-size:26px;color:white;position:absolute;top:100px;left:103px;z-index:7500;">
<!--          <div style="font-weight:bold;"><%= link_to(promo_event.headline, promo_event) %></div> -->
          <div style="margin-top:90px;font-weight:bold;"><%= link_to(promo_event.headline, promo_event) %></div>
          <div style="font-size:80%;font-style:italic;"><%= link_to(promo_event.title, promo_event) %></div>
        </div>

        <div class="buttonbox_out" style="position:absolute;top:300px;left:100px;z-index:7500;">
          <div class="buttonbox_in">
          <%=link_to "Participar", promo_event, :class => "btn btn-black btn-bigger btn-primary" %>
          </div>
        </div>
        <div class="buttonbox_out" style="position:absolute;top:300px;left:250px;z-index:7500;">
          <div class="buttonbox_in">
          <%=link_to "Como concorrer", how_it_works_path, :class => "btn btn-black btn-bigger btn-primary" %>
          </div>
        </div>
        <div class="buttonbox_out" style="position:absolute;top:300px;left:450px;z-index:7500;">
          <div class="buttonbox_in">
          <%=link_to "Cadastre-se", new_user_path, :class => "btn btn-black btn-bigger btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>
<div style="height:20px">
</div>
<% end %>
<div class="row">
  <div class="span12">
    <h2>Você também pode tentar outros concursos e fazer uma boa ação ao mesmo tempo:</h2>
  </div>
</div>
<div class="row">
  <div class="span4 homebox" style="position:relative;">
    <% @events_outros1.each do |col| %>
      <div class="row-fluid center">
        <h2 style="padding-left:0px;"><%= link_to(col.title, col) %></h2>
        <p><%= link_to(image_tag(col.avatar.url(:original), :style => "width:250px;height:250px;"), col) %></p>
        <p>Due Date: <%= l col.date_due.to_date, :format => :simple if !col.date_due.nil? %></p>
        <p>Time left: <%= distance_of_time_in_words_to_now(col.date_due, true) %></p>
        <p>
        <% if  Time.now <= col.date_due %>
          <%= link_to "Join this event", col, :class => "btn btn-black btn-large btn-primary" %>
        <% else %>
          <%= link_to "Finished", "#", :class => "btn btn-black btn-large btn-primary" %>
        <% end %>
        </p>
      </div>
    <% end %>
<!--
    <div style="position:absolute;top:0px;left:-30px;">
      <%= image_tag("stamp_heart.png") %>
    </div>
-->
  </div>
  <div class="span4 homebox">
    <% @events_outros2.each do |col| %>
    <div class="row-fluid center">
        <h2 style="padding-left:0px;"><%= link_to(col.title, col) %></h2>
        <p><%= link_to(image_tag(col.avatar.url(:original), :style => "width:250px;height:250px;"), col) %></p>
        <p>Due Date: <%= l col.date_due.to_date, :format => :simple if !col.date_due.nil? %></p>
        <p>Time left: <%= distance_of_time_in_words_to_now(col.date_due) %></p>
        <p>
        <% if  Time.now <= col.date_due %>
          <%= link_to "Join this event", col, :class => "btn btn-black btn-large btn-primary" %>
        <% else %>
          <%= link_to "Finished", "#", :class => "btn btn-black btn-large btn-primary" %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="span4 homebox">
    <div class="row-fluid center">
		<div class="span12">
     		<h2 style="padding-left:0px;">Últimos Vencedores</h2>
		</div>
	 </div>

    <div class="row-fluid margin-bottom">
		<div class="span2 offset1">
			<%= image_tag("http://s3.amazonaws.com/pkone/events/avatars/000/000/001/thumb/iphone_avatar.png?1368977992", :style => "width:50px;height:50px;") %><br>
		</div>
		<div class="span8 align-left vertical-align-middle">
				Evento: ePick One <br>
				<em>Jaquim Fernandes Silva</em>
		</div>
    </div>

    <div class="row-fluid margin-bottom">
		<div class="span2 offset1">
			<%= image_tag("http://s3.amazonaws.com/pkone/events/avatars/000/000/001/thumb/iphone_avatar.png?1368977992", :style => "width:50px;height:50px;") %><br>
		</div>
		<div class="span8 align-left vertical-align-middle">
				Evento: ePick One <br>
				<em>Marileide Krugman</em>
		</div>
    </div>

    <div class="row-fluid margin-bottom">
		<div class="span2 offset1">
			<%= image_tag("http://s3.amazonaws.com/pkone/events/avatars/000/000/001/thumb/iphone_avatar.png?1368977992", :style => "width:50px;height:50px;") %><br>
		</div>
		<div class="span8 align-left vertical-align-middle">
				Evento: ePick One <br>
				<em>Ana Maria Benedita</em>
		</div>
    </div>

  </div> <!-- end span4 homebox -->
</div>