<% provide(:title, 'Como Funciona') %>

<h1>Como funciona</h1>

<div class="row">
	<div class="span6">

		<div class="row-fluid">
			<div class="span1" style="padding-top:39px;">
				<%= image_tag("dotted-arc-left.png")%>
			</div>
			<div class="span11">
				<h2 style="color:green;">Passo 1</h2>
				<p>
				Faça seu cadastro. Ainda não? <%= link_to "Clique aqui", new_user_path %>
				</p>

				<p>
				Já tem cadastro? Que bom! Agora é só começar a participar.
				</p>

				<div class="row-fluid">
					<div class="span8">
						<h2 style="color:pink;">Passo 2</h2>
						<p>
						Escolha o evento promocional que deseja participar.
						</p>
					</div>
					<div class="span1" style="padding-top:30px;">
						<%= image_tag("dotted-arc-right.png")%>
					</div>			
				</div>
<!---		
				<div class="row-fluid">
					<div class="span3">
						<div class="row-fluid">
							<div class="span12 box_curved_gray center">
								 Promocional
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12 center" style="padding-top:10px;">
								<%= image_tag("dotted-vert.png")%>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="row-fluid">
							<div class="span12 box_curved_gray center">
								 Social
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12 center" style="padding-top:10px;">
								<%= image_tag("dotted-vert.png")%>
							</div>
						</div>
					</div>
				</div>			
-->

				<h2 style="color:red;">Passo 3</h2>
				<p>
					Leia o breafing sobre a empresa que está patrocinando o evento.
				</p>
				<%= render 'dotted_vert' %>

				<h2 style="color:lightblue;">Passo 4</h2>
				<p>
					Responda corretamente um Quiz e ganhe um ticket para concorrer ao prêmio.
				</p>
				<%= render 'dotted_vert' %>

				<h2 style="color:orange;">Passo 5</h2>
				<p>
					Numere todos seus tickets.
				</p>
				<%= render 'dotted_vert' %>

				<h2 style="color:brown;">Passo 6</h2>
				<p>
					Clique em Validar!
				</p>
				<%= render 'dotted_vert' %>

				<h2 style="color:green;">Passo 7</h2>
				<p>
				Parabéns! Você está participando. Para verificar a situação dos seus tickets, basta clicar em sua conta.
				</p>
			</div>
		</div>

	</div>
	<div class="box_curved_gray" style="padding:30px;width:45%-60px;margin-left:55%;margin-top:-30px;">
		<p>
		Existem dois tipos de eventos, os Promocionais e os Sociais. E cada evento, possuirá um prêmio diferente.
		</p>

		<p>
		<em style="font-weight:bold;">Os eventos Promocionais não custa nada tentar.</em> São eventos patrocinados por empresas que desejam apresentar alguma novidade.
		</p>
		<p>
		E para adiquirir tickets destes eventos, basta voce responder corretamente um pequeno Quiz sobre o que a empresa quer transmitir e pronto. Você receberá um ticket para poder participar do evento sem nenhum custo!
		<p>
		
			<p>
			Agora é preciso numerá-los e e validá-los. Na hora de validar.
			</p>

			<p>
			Pronto, clicou em Validar? Parabéns, Você já está concorrendo aos premios. Agora é só aguardar o evento terminar, e nós iremos te comunicar caso você seja vencedor ou não através de seu celular ou email.
		</p>


	</div>	
</div>






	
