  <!DOCTYPE html>
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
      <h1><%= t("notifier.welcome.body_paragraph1") %>, <%= @user.first_name %></h1>
      <p>
        <%= t("notifier.welcome.body_paragraph2") %>
      </p>
      <p>
       <%= t("notifier.welcome.body_paragraph3") %>: <%= @url %>.
      </p>
      <p><%= t("notifier.welcome.body_paragraph4") %></p>
      <p><%= t("notifier.welcome.body_paragraph5") %></p>
Seu login é: <%= @user.email %><br>
E sua senha é: <%= @user.password %><br>
    </body>
  </html>