<div class="row-fluid">
  <div class="span2">
    <%= image_tag("logo_facebook.png") %>
  </div>
  <div class="span10">
    <% if current_user.oauth_expires_at.nil? %>
      <%= link_to 'Clique aqui para conectar a sua conta.', facebook_login_path %>
    <% else %>
      <%= link_to 'Sua conta já está conectada. Clique aqui para renovar sua conexão em caso de falhas.', facebook_login_path %>
    <% end %>
  </div>
</div>
<div class="row-fluid" style="margin-top:15px;">
  <div class="span2">
    <%= image_tag("logo_twitter.png") %>
  </div>
  <div class="span10">
    <% if current_user.twitter_oauth_expires_at.nil? %>
      <%= link_to 'Clique aqui para conectar a sua conta.', twitter_login_path %>
      <% else %>
        <%= link_to 'Sua conta já está conectada. Clique aqui para renovar sua conexão em caso de falhas.', twitter_login_path %>
      <% end %>
  </div>
</div>
