<div class="row">
  <aside class="span4">
    <section>
      <p>
      <h1>
        <%= image_tag(@user.avatar.url(:thumb), :style => "width:100px;height:100px;" ) %>
        <%= @user.first_name %> <br>
        <%= current_user.friends_count %><br><br>
      </h1>
    </section>
  </aside>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

