<h1><%= @user.first_name %>&nbsp;<%= @user.last_name %></h1>
<h2>Dados de Contato</h2>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span3">Email:</td>
			<td class=""><%= @user.email %></td>
		</tr>
		<tr>
			<td class="span3">Celular:</td>
			<td class=""><%= @user.mobile_phone_number %></td>
		</tr>
	</tbody>
</table>

<h2>Informações Básicas</h2>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span2">Sexo:</td>
			<td class="span3"><%= @user.gender %></td>
		</tr>

		<tr>
			<td class="">Data de Nascimento:</td>
			<td class="">
				<%= l @user.birthday, :format => :default %> 
		</tr>
		<tr>
			<td class="">Cidade:</td>
			<td class=""><%= @user.city %></td>
		</tr>
		<tr>
			<td class="">Estado:</td>
			<td class=""><%= @user.state %></td>
		</tr>
		<tr>
			<td class="">País:</td>
			<td class=""><%= @user.country %></td>
		</tr>
		<tr>
			<td class="">Endereco 1:</td>
			<td class=""><%= @user.address1 %></td>
		</tr>
		<tr>
			<td class="">Endereco 2:</td>
			<td class=""><%= @user.address2 %></td>
		</tr>
		<tr>
			<td class="">CEP:</td>
			<td class=""><%= @user.postcode %></td>
		</tr>
	</tbody>
</table>

	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>

