<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span6 offset3">
      <%= image_tag @user.avatar.url(:thumb) %>
      <%= f.file_field :avatar %>
      
      <%- unless @user.new_record? || !@user.avatar? -%>
      <br>
          <%= f.check_box :avatar_delete, :label => 'Delete Avatar' %>
      <%- end -%>
            
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    
      <%= f.label :document %><br />
      <%= f.text_field :document %>

      <%= f.label :title %><br />
      <%= f.text_field :title %>
    
      <%= f.label :gender %><br />
      <%= f.text_field :gender %>
    
      <%= f.label :birth_date %><br />
      <%= f.date_select :birth_date %>
    
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    
      <%= f.label :country %><br />
      <%= f.text_field :country %>
    
      <%= f.label :address1 %><br />
      <%= f.text_field :address1 %>
    
      <%= f.label :address2 %><br />
      <%= f.text_field :address2 %>
    
      <%= f.label :zipcode %><br />
      <%= f.text_field :zipcode %>
    
      <%= f.label :phone_mobile %><br />
      <%= f.text_field :phone_mobile %>

      <%= f.label :admin_flag %><br />
      <%= f.text_field :admin_flag %>
    
      <%= f.label :password %><br />
      <%= f.password_field :password %>
      <br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      
    </div>
  </div>  
<% end %>