<% if @user.tickets.find_running.count > 0 %>
	Você está participando de algum evento. Não é possível alterar dados de localidade e contato neste momento.
<% end %>

<%= simple_form_for(@user, :html => { :class => 'form-horizontal', :id =>"user-form" }) do |f| %>          
		<%= f.input :full_name, :label => "Nome completo" %>
		<% if @user.tickets.find_running.count > 0 %>
			<%=  f.input :mobile_phone_formatted, input_html: { class: "phonemask", readonly: true, style: 'width:180px;' } %>
		<% else %>
			<%=  f.input :mobile_phone_formatted, :class => "phonemask", input_html: { class: "phonemask", style: 'width:180px;' }, hint: 'Seu número sem DDD'  %>
		<% end %>
		<%= f.input :gender, as: :radio_buttons,  collection: [['Feminino', 'F'] ,['Masculino', 'M']] %>
		<%= f.input :birthday, as: :bootstrap_datepicker %>
	<% if @user.tickets.find_running.count > 0 %>
  <%=  f.input :city_state, :label => "Cidade/Estado", :input_html => { data: {autocomplete_source: cities_path} } %>
	<% else %>
    <%=  f.input :city_state, :label => "Cidade/Estado", :input_html => { data: {autocomplete_source: cities_path} } %>
	<% end %>
		<%= f.input :address1 %>
		<%= f.input :address2 %>
		<%= f.input :postcode %>
		<%= f.input :password %>
		<div class="text-center">
			<%= f.submit "Salvar", class: "btn btn-large btn-primary" %>
			<%= link_to "Cancelar", user_path(current_user.id) + "/#t_tab1", class: "btn btn-large btn-primary" %>
		</div>
<% end %>
