<% javascript 'dynamic_cities' %>

<%= simple_form_for(@user, :html => { :class => 'form-horizontal', :id =>"user-form" }) do |f| %>          
	      <%= f.input :first_name %>
	      <%= f.input :last_name %>
	      <%= f.input :gender %>
				<%= f.input :birthday, as: :bootstrap_datepicker %>
				<%=  f.association :state, collection: @states, :prompt => "Selecione-", :wrapper_html => { :id => "user-form-state_id", "data-cities-url" => update_city_select_users_path() } %>
				<%=  f.association :city, collection: @cities, :prompt => "Selecione-", :wrapper_html => { :id => 'cities-select-list'} %>
	      <%= f.input :address1 %>
	      <%= f.input :address2 %>
	      <%= f.input :postcode %>
	      <%= f.input :mobile_phone_number %>
      <div class="form-actions">
	      <%= f.submit "Salvar", class: "btn btn-large btn-primary" %>
      </div>
<% end %>
