<%= simple_form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>          
	      <%= f.input :first_name %>
	      <%= f.input :last_name %>
	      <%= f.input :gender %>
				<%= f.input :birthday, as: :bootstrap_datepicker %>
	      <%= f.input :city %>
	      <%= f.input :state %>
	      <%= f.input :country %>
	      <%= f.input :address1 %>
	      <%= f.input :address2 %>
	      <%= f.input :postcode %>
	      <%= f.input :mobile_phone_number %>
      <div class="form-actions">
	      <%= f.submit "Salvar", class: "btn btn-large btn-primary" %>
      </div>
<% end %>
