<%= simple_form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>          
      <%=  f.input :email %>
      <%=  f.input :first_name %>
      <%=  f.input :last_name %>
      <%=  f.input :gender %>
			<%=  f.input :birthday, as: :bootstrap_datepicker %>
      <%=  f.input :mobile_phone_number %>
      <%=  f.input :city %>
      <%=  f.input :state %>

      <%=  f.input :password %>

      <div class="form-actions">
      <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
      <p><%= link_to 'Login with Facebook', facebook_login_path, id: "fb_sign_in", :class => "fbSignInButton" %></p>
      </div>
      
<% end %>

