<div class="row">
  <div class="col-md-12">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">
            Data do Resultado
          </th>
          <th class="col-md-8">
            Nome do Evento
          </th>
          <th class="col-md-2">
            Número Escolhido
          </th>
        </tr>
      </thead>

      <tbody>
<% if @tickets_new.count <= 0  %>
        <tr>
          <td>
              Não há tickets novos.
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
<% else %>
	<% @tickets_new.each do |item_new| %>
        <tr>
          <td>
							<%= l item_new.event.end_date.to_date, :format => :simple if !item_new.event.end_date.nil? %> 
          </td>
          <td>
              <%= item_new.event.title %>
          </td>
          <td>
						<% if item_new.picked_number.nil? %>
	         		<%= form_tag(add_number_ticket_path(item_new)) do %>
									<div class="row">
							  		<%= label_tag "Escolha um Número entre 0 e 999" %>
									</div>
									<div class="row">
						  		<%= text_field_tag :number, '', :class => "col-md-4" %>
					    		<%= submit_tag "Escolher", class: "btn btn-warning btn-xs col-md-offset-1" %>
									</div>
						  <% end %>
						
						
						
				  <% else %>
						<div class="fields">
            	<%= item_new.picked_number %>
							<%= link_to_function "(clique para alterar)", "change_picked_number(this)" %>
						</div>
						<div class="change_number" style="display:none;">
	         		<%= form_tag(add_number_ticket_path(item_new)) do %>
									<div class="row">
							  		<%= label_tag "Escolha um Número entre 0 e 999" %>
									</div>
									<div class="row">
						  		<%= text_field_tag :number, '', :class => "col-md-4" %>
					    		<%= submit_tag "Escolher", class: "btn btn-warning btn-xs col-md-offset-1" %>
									</div>
						  <% end %>
						</div>
				 <% end %>
          </td>
        </tr>
	<% end %>
<% end %>
				<tr>
					<td colspan='2'></td>
					<td>
						<% if current_cart.tickets.find_unumbered.count > 0 %>
						  	  <% msgbox = "Numere todos os seus tickets antes de validar!" %>
									<%= link_to "Concluir", msgbox_path + "?msgbox=" + msgbox, :class=>"btn btn-black btn-large btn-primary fancybox", :id => "concluir" %>
						<% else %>
							<% if current_cart.tickets.count > 0 %>
						      <%= link_to "Concluir", payment_not_needed_cart_path(current_cart), :class => "btn btn-black btn-large btn-primary", :id => "concluir" %>
							<% else %>
						      <%= link_to "Concluir", "#", :class => "btn btn-black btn-large btn-primary", :id => "concluir" %>
							<% end %>
						<% end %>
					</td>
				</tr>
      </tbody>
    </table>
  </div> 
</div> <!-- class row -->
