<h3>Alterar Celular</h3>
<% if @user.tickets.find_running.count > 0 %>
	<p>
	Você está participando de algum evento. Não é possível alterar seu celular neste momento.
  </p>
<% end %>

<%= simple_form_for @user, :url => mobile_phone_user_path(current_user), :method => 'put' do |f| %>
	<% if @user.tickets.find_running.count > 0 %>
		<%=  f.input :mobile_phone_number, input_html: { readonly: true, style: 'width:180px;' } %>
	<% else %>
		<%=  f.input :mobile_phone_number, input_html: { style: 'width:180px;' }, hint: 'Seu número sem DDD'  %>
	<% end %>

	<div class="row">
		<div class="col-xs-12 text-center">
			<%= f.submit "Alterar", class: "btn btn-large btn-primary" %>
			<%= link_to "Voltar", user_path(current_user) + "/#t_tab1", :class => "btn btn-primary" %>						
		</div>
	</div>
<% end %>


