<% provide(:title, @user.first_name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url(:medium) %>
        <%= @user.first_name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.draws.any? %>
      <h3>Draws (<%= @user.draws.count %>)</h3> 
      <ol class="draws">
        <%= render @draws %>
      </ol>
      <%= will_paginate @draws %>
    <% end %>
  </div>  
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
