<% 
provide(:title, @user.first_name) 
%>
<p id="notice"><%= notice %></p>


<div class="row">
  <div class="span2">
      <%= image_tag(@user.avatar.url(:thumb), :style => "width:100px;height:100px;" ) %>
  </div>
  <div class="span10">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">My Details</a></li>
      <li>
        <a href="#tab2" data-toggle="tab">
           Free(0)
        </a>
      </li>
      <li><a href="#tab3" data-toggle="tab">Statement</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%= render 'users/details' %>  
      </div>
      <div class="tab-pane" id="tab2">  
        <%= render 'users/temp' %>  
      </div>
      <div class="tab-pane" id="tab3">
        <%= render 'users/temp' %>  
      </div>      
    </div>
  </div>
</div>

