<%
  freedraw = Draw.find(:all, :conditions => "join_type='questions'") 
%>

<table class="table table-bordered">
<% freedraw.each do |draw| %>
  <tr>
    <th colspan="4"><%= draw.title %></th>
  </tr>
  <tr>
    <td colspan="4"><small><%= link_to "Click here to shared this draw on Facebook and get one free credit!", facebook_share_draw_user_path(:draw_id => draw.id) %></small></th>
  </tr>
    <%
      draw_credits = @user.credits.find(:all, :conditions => ["draw_id=?", draw.id.to_s])
        draw_credits.each do |c|
    %>
          <tr>
            <td><%= c.credit_type %></td>
            <td><%= c.comment %></td>
            <td><%= c.value %></td>
            <td><%= c.is_used %></td>
          </tr>
        <% end %>
      
<% end %>
</table>