<%
  freeevent = Event.find(:all, :conditions => "join_type='questions'") 
%>

<table class="table table-bordered">
<% freeevent.each do |event| %>
  <tr>
    <th colspan="4"><%= event.title %></th>
  </tr>
  <tr>
    <td colspan="4"><small><%= link_to "Click here to shared this event on Facebook and get one free ticket!", facebook_share_event_user_path(:event_id => event.id) %></small></th>
  </tr>
    <%
      event_tickets = @user.tickets.find(:all, :conditions => ["event_id=?", event.id.to_s])
        event_tickets.each do |c|
    %>
          <tr>
            <td><%= c.ticket_type %></td>
            <td><%= c.comment %></td>
            <td><%= c.value %></td>
            <td><%= c.is_used %></td>
          </tr>
        <% end %>
      
<% end %>
</table>