<% provide(:title, 'Quiz') %>

<div class="row margin-top">
  <div class="span3">
    <%= image_tag(@event.avatar.url(:original), :style => "height:200px;width:200px;border-style:dotted;border-width:1px;") %>
  </div>
  <div class="span9">
    <%= form_tag quiz_result_event_path do |f| %>
	    <table class="margin-top">
				<thead>
					<tr>
						<th class="span12" style="text-align:left">
							<ul class="bullets">
								<li><a class ="green" href="">Red</a></li>
								<li><a class ="red" href="">Green</a></li>
							</ul>
						</th>
					</tr>
					<tr>
						<th class="span12" style="text-align:left">
							<%= (@question.sort_order.to_s + ": " + @question.title) if !@question.nil? %>
						</th>
					</tr>
				</thead>
	      <tbody>
	        <tr>
	          <td>
							<ol class="answers">
								<% if !@question.nil? %>
									<% @question.answers.each do |answer| %>
										<%= radio_button @question.id, "answer", answer.id %> 
										<%= answer.sort_order.to_s if !answer.sort_order.nil? %>) <%= answer.answer_text %><br>
									<% end %>
								<% end %>
							</ol>
            </td>
	        </tr>
	        <tr>
	          <td>
	         		<%= submit_tag "Próxima" %>
	         	</td>
	       	</tr>
	      </tbody>
	    </table>
		<% end %>
  </div>
</div>