<div class="row">
  <div class="span2">
    <%= image_tag @event.avatar.url(:thumb) %>
  </div>
  <div class="span10">
    <%= form_tag quiz_result_event_path do |f| %>
    <table class="table table-striped">
       <thead>
         <tr>
           <th class="span12">
             <%= @event.title %>
           </th>
         </tr>
       </thead>
       <tbody>
         <% @event.questions.each do |question| %>     
         <tr>
           <td>
             <%= question.title %>
             <% if question.description != '' %>
                <p>
               <%= question.description %>
               </p>
             <% end %>
             <ol class="answers">
               <% question.answers.each do |answer| %>
                 <%= radio_button question.id, "answer", answer.id %> <%= answer.id %> <%= answer.answer_text %> <%= answer.iscorrect %>  <br>
               <% end %>
             </ol>         
           </td>
         </tr>
         <% end %>
         <tr>
           <td>
         <%= submit_tag "Check Answers" %>
         </td>
       </tr>
          
       </tbody>
    </table>
    <% end %>
  </div>
</div>