<% provide(:title, @event.title) %>

<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "ePick One" %>
  <%= tag :meta, property: "og:type", content: "epickone:evento" %>
  <%= tag :meta, property: "og:title", content: @event.title %>
  <%= tag :meta, property: "og:url", content: event_url(@event) %>
  <%= tag :meta, property: "og:image", content: @event.avatar.url(:medium)  %>
<% end %>

<div class="row">
  <div class="span3">  
        <%= image_tag @event.avatar.url(:thumb) %>
		<br>
		Faltam: <%= @event.distance_of_time %>
		<br>
		Último dia: <%= l @event.date_due.to_date, :format => :simple if !@event.date_due.nil? %>
		<br><br>
    <% if  !@event.expired? %>
      <% if @event.join_type == "promo" %>
        <%= render 'events/promo_button' %>
      <% else %>
        <%= render 'events/paid_button' %>  
      <% end %>
    <% else %>
      <%= link_to "Finished", "#", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <div class="span9">
    <p>
      <b>Title:</b>
      <%= @event.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= simple_format(@event.description) %>
    </p>
  </div>    
</div>  





