<% provide(:title, @event.title) %>

<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "ePick One" %>
  <%= tag :meta, property: "og:type", content: "epickone:evento" %>
  <%= tag :meta, property: "og:title", content: @event.title %>
  <%= tag :meta, property: "og:url", content: event_url(@event) %>
  <%= tag :meta, property: "og:image", content: @event.avatar.url(:medium) %>
  <%= tag :meta, property: "og:description", content: "Faca parte deste movimento tambem" %>
<% end %>

<div class="row">
  <div class="span9">
    <p>
      <b>Title:</b>
      <%= @event.title %>
    </p>

    <p>
      <b>Instruções:</b>
      <%= simple_format(@event.instruction) %>
			Passo 1: Assita atentamente o video abaixo. <br>
			Passo 2: Clique em "Responder o Quiz" no botão ao lado direito do video.<br>
			Passo 3: Acertou as 3 questões? Legal! Agora númere o ticket que você ganhou. e clique em validar! 
			<p>Pronto você está participando deste evento!</p>
			<iframe title="YouTube video player" class="youtube-player" type="text/html" 
			width="640" height="390" src="http://www.youtube.com/embed/2HUYErnODm0"
			frameborder="0" allowFullScreen></iframe>
    </p>
  </div>    
  <div class="span3">  
        <%= image_tag @event.avatar.url(:thumb) %>
		<br>
		Faltam: <%= @event.distance_of_time %>
		<br>
		Último dia: <%= l @event.end_date.to_date, :format => :simple if !@event.end_date.nil? %>
		<br><br>
    <% if  !@event.expired? %>
        <%= render 'events/promo_button' %>
    <% else %>
      <%= link_to "Finished", "#", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>  





