<p id="notice"><%= notice %></p>

<p>
  <b>Titlet:</b>
  <%= @answer.titlet %>
</p>

<p>
  <b>Description:</b>
  <%= @answer.description %>
</p>

<p>
  <b>Order:</b>
  <%= @answer.order %>
</p>

<p>
  <b>Iscorrect:</b>
  <%= @answer.iscorrect %>
</p>

<p>
  <b>Question:</b>
  <%= @answer.question_id %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
