<tr>
  <td colspan=2>
    <h3><%= draw.title %></h3>
  </td>
</tr>
<tr>
  <td style="width:300px;">
    <%= image_tag draw.avatar.url(:medium) %>
  </td>
  <td  style="width:600px;">
    <%= simple_format(draw.description) %>
    <br>
    <span class="timestamp">Due Date <%= draw.date_due %>. </span>
  </td>
</tr>
<tr>
  <td>
    <%= link_to "Join this draw", join_draw_path(draw) %>
  </td>
</tr>