<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :picked_number %><br />
  <%= f.text_field :picked_number %>
  

<div class="actions">
  <% %>
  <%= f.hidden_field :draw_id, :value => params[:id] %>
 
  <%= f.submit %>
  
</div>
  
<% end %>
