<%= form_for(@draw) do |f| %>
  <% if @draw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draw.errors.count, "error") %> prohibited this draw from being saved:</h2>

      <ul>
      <% @draw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= image_tag @draw.avatar.url(:thumb) %>
  <%= f.file_field :avatar %>

  <%= f.label :title %><br />
  <%= f.text_field :title %>

  <%= f.label :min_users %><br />
  <%= f.text_field :min_users %>

  <%= f.label :max_users %><br />
  <%= f.text_field :max_users %>

  <%= f.label :localization %><br />
  <%= f.text_field :localization %>

  <%= f.label :price %><br />
  <%= f.text_field :price %>

  <%= f.label :date_due %><br />
  <%= f.datetime_select :date_due %>

  <%= f.label :date_start %><br />
  <%= f.date_select :date_start %>

  <%= f.label :description %><br />
  <%= f.text_area :description, :rows =>10 %>

  <%= f.submit %>
<% end %>

