<h1>Listing draws</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @draws.each do |draw| %>
  <tr>
    <td><%= image_tag draw.avatar.url(:medium) %><td>
    <td><%= draw.title %></td>
    <td><%= draw.description %></td>
    <td><%= link_to 'Show', draw %></td>
    <td><%= link_to 'Edit', edit_draw_path(draw) %></td>
    <td><%= link_to 'Destroy', draw, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draw', new_draw_path %>
