<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "ePick One" %>
  <%= tag :meta, property: "og:type", content: "epickone:game" %>
  <%= tag :meta, property: "og:title", content: @draw.title %>
  <%= tag :meta, property: "og:url", content: draw_url(@draw) %>
  <%= tag :meta, property: "og:image", content: "http://www.epickone.com/images/missing.png" %>
<% end %>

<h1>Pick a number</h1>
<h2>The smallest uniq picked number will win!</h2>
<div class="row">
  <div style="float:left;width:385px;margin-left:auto;margin-right:auto;">
    <% @numbers.each_slice(10) do |row| %>
      <div >
        <% row.each do |i| %>
          <div style="float:left;width:30px;text-align:center;border-width:1px;border-style:solid;margin:3px;">
            <%= link_to(i, add_cart_draw_path(:number => i))  %>
          </div>
        <% end %>
      </div>  
    <% end %>  
    <%= will_paginate @numbers, :inner_window => 0 %>
  </div>
  <div style="float:left;border-style:solid;border-width:1px;width:400px;height:300px;">
    <% @cartitems.each do |item| %>
      <fieldset>
        <%= item.draw_id %> <>
        <%= item.picked_number %> <>
        <%= item.quantity %> <>
        <%= item.unit_price %>
        <%= link_to 'Remove', item, confirm: 'Are you sure?', method: :delete %></td>
        <br>
      </fieldset>
    <% end %>
  </div>
</div>
<div style="display:block;">
  <%= link_to "Go to Check out", checkout_cart_path(current_cart.id), :class => "btn btn-large btn-primary" %>
  <%= link_to "Try other prizes", root_path, :class => "btn btn-large btn-primary" %>  
</div>

<%=draw_url(@draw)%>


