<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "ePick One" %>
  <%= tag :meta, property: "og:type", content: "epickone:game" %>
  <%= tag :meta, property: "og:title", content: @draw.title %>
  <%= tag :meta, property: "og:url", content: draw_url(@draw) %>
  <%= tag :meta, property: "og:image", content: @draw.avatar.url(:medium)  %>
<% end %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span3">  
    <aside style="float:left;">
      <section>
        <%= image_tag @draw.avatar.url(:thumb) %>
        <p>
          <b>Category:</b>
          <%= @draw.category.title %>
        </p>
        <p>
          <b>Owner Id:</b>
          <%= @draw.user_id %>
        </p>
        <p>
          <b>Joined:</b>
          <%= @draw.cartitems.find(:all, :joins => :cart, :conditions => "carts.purchased_at is null").count %>
        </p>
        <p>
          <b>Credits available:</b>
          <%= current_user.total_credits(@draw.id.to_s) if current_user%>

        </p>
        
      </section>
    </aside>
    <% if  Time.now <= @draw.date_due %>
      <% if @draw.join_type == "questions" %>
        <%= link_to "Click to Answer and Join", join_questions_draw_path(), :class => "btn btn-large btn-primary" %>    
      <% else %>
        <p><%= link_to "Click to Join",  pick_a_number_draw_path, :class => "btn btn-large btn-primary" %></p>
        
        <p>
        </p>
      <% end %>
      
      
      
      
    <% else %>
      <%= link_to "Finished", "#", :class => "btn btn-large btn-primary" %>
    <% end %>
    
  </div>
  <div class="span9">
    <p>
      <b>Title:</b>
      <%= @draw.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= simple_format(@draw.description) %>
    </p>
  </div>  
</div>  





