

<p id="notice"><%= notice %></p>
<div class="row">
  <div>  
    <aside style="float:left;">
      <section>
        <%= image_tag @draw.avatar.url(:thumb) %>
        <p>
          <b>Owner Id:</b>
          <%= @draw.user_id %>
        </p>
        <p>
          <b>Joined:</b>
          <%= @draw.cartitems.find(:all, :joins => :cart, :conditions => "carts.purchased_at is null").count %>
        </p>
        
      </section>
    </aside>
  </div>
  <div>
    <p>
      <b>Title:</b>
      <%= @draw.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= simple_format(@draw.description) %>
    </p>  
    <p style="text-align:right;">
      <% if  Time.now <= @draw.date_due %>

<% if @draw.join_type == "questions" %>
    <%= link_to "Click to Answer and Join", join_questions_draw_path(), :class => "btn btn-large btn-primary" %>    



<% else %>
  <%= link_to "Click to Join",  pick_a_number_draw_path, :class => "btn btn-large btn-primary" %>      
<% end %>

<% else %>
  <%= link_to "Finished", "#", :class => "btn btn-large btn-primary" %>
<% end %>

    </p>

  </div
</div>










