<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "ePick One" %>
  <%= tag :meta, property: "og:type", content: "epickone:game" %>
  <%= tag :meta, property: "og:title", content: @draw.title %>
  <%= tag :meta, property: "og:url", content: draw_url(@draw) %>
  <%= tag :meta, property: "og:image", content: @draw.avatar.url(:medium)  %>
  
    <script type="text/javascript">
    // Load the SDK Asynchronously
        (function(d){
          var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all.js";
          d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
          
      function postCook()
      {
          FB.api(
            '/me/epickone:joined',
            'post',
            { recipe: '<%= draw_url(@draw) %>' },
            function(response) {
               if (!response || response.error) {
                  alert('Error occured');
               } else {
                  alert('Draw was successful! Action ID: ' + response.id);
               }
            });
      }
      </script>  
<% end %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div>  
    <aside style="float:left;">
      <section>
        <%= image_tag @draw.avatar.url(:thumb) %>
        <p>
          <b>Owner Id:</b>
          <%= @draw.user_id %>
        </p>
        <p>
          <b>Joined:</b>
          <%= @draw.cartitems.find(:all, :joins => :cart, :conditions => "carts.purchased_at is null").count %>
        </p>
        
      </section>
    </aside>
  </div>
  <div>
    <p>
      <b>Title:</b>
      <%= @draw.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= simple_format(@draw.description) %>
    </p>  
    <p style="text-align:right;">
      <% if  Time.now <= @draw.date_due %>

<% if @draw.join_type == "questions" %>
    <%= link_to "Click to Answer and Join", join_questions_draw_path(), :class => "btn btn-large btn-primary" %>    



<% else %>
  <%= link_to "Click to Join",  pick_a_number_draw_path, :class => "btn btn-large btn-primary" %>      
<% end %>

<% else %>
  <%= link_to "Finished", "#", :class => "btn btn-large btn-primary" %>
<% end %>

    </p>

  </div
</div>
  <a href="#" onclick="javascript:postCook()">CLick Postar</a>










