<div class="row">
  <div class="span10 offset1">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span3">
            Event
          </th>
          <th class="span2">
            Pick #
          </th>
          <th class="span2">
            Quantity
          </th>
          <th class="span2">
            Unit Price
          </th>
          <th class="span1">
            Action
          </th>
        </tr>
      </thead>

      <tbody>
        <% 
        bNeed_number = false
        @cart.tickets.each do |item| 
        %>
        <tr>
          <td>
            <%= item.event.title%>
          </td>
          <td>
            <% if item.picked_number.nil? 
               bNeed_number = true
              %>
            
              Not Played<br><%= link_to '(click here to play)', pick_a_number_cart_path(:ticket_id => item.id) %>
            <% else %>
              <%= item.picked_number %>
              
              
            <% end %>
          </td>
          <td>
            <%= item.quantity%>
          </td>
          <td>
            <%= number_to_currency(item.unit_price)%>
          </td>
          <td>
            <%= link_to 'Remove', item, confirm: 'Are you sure?', method: :delete %></td>
          </td>
        </tr>
        <% end %>

        <tr>
          <td>
            TOTAL:
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <%= number_to_currency(@cart.total_price)%>
          </td>
          <td>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="row-fluid">
      <%= link_to "Add more tickets before checkout", root_path, :class => "btn btn-black btn-large btn-primary" %>
      <br>
      <br>
      <% if bNeed_number %>
        <%= link_to "You need to number all your tickets before Check out", "#", :class => "btn btn-black btn-large btn-primary" %>      
      <% else %>
        <% if @cart.tickets.count > 0 %>
          <% if @cart.total_price > 0 %>
            <%= link_to "Check out with paypal", @cart.paypal_url(user_url(current_user), payment_notifications_url), :class => "btn btn-large btn-primary" %>
          <% else %>
            <%= link_to "Checkout", payment_not_needed_cart_path, :class => "btn btn-black btn-large btn-primary" %>
          <% end %>
        <% else %>
          <%= link_to "Your cart is empty", "#", :class => "btn btn-black btn-large btn-primary" %>
        <% end %>
      <% end %>
      <p><small>For your security, we use PayPal to checkout. It's a trustful way to do it.</small></p>
    </div> 
  </div> 
</div> <!-- class row -->
