<% provide(:title, 'Validar Tickets') %>

<div class="row">
  <div class="span10 offset1">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span3">
            Event
          </th>
          <th class="span2">
            Pick #
          </th>
          <th class="span2">
            Quantity
          </th>
          <th class="span2">
            Unit Price
          </th>
          <th class="span1">
          </th>
        </tr>
      </thead>

      <tbody>
        <% 
        bNeed_number = false
        @cart.tickets.each do |item| 
        %>
        <tr>
          <td>
            <%= item.event.title%>
          </td>
          <td>
            <% if item.picked_number.nil? 
               bNeed_number = true
              %>
            
              Não numerado<br><%= link_to '(clique aqui para numerar)', pick_a_number_cart_path(:ticket_id => item.id), :class => "fancybox" %>

            <% else %>
              <%= item.picked_number %><br><%= link_to '(clique para alterar)', pick_a_number_cart_path(:ticket_id => item.id), :class => "fancybox" %>
              
              
            <% end %>
          </td>
          <td>
            <%= item.quantity%>
          </td>
          <td>
            <%= number_to_currency(item.unit_price)%>
          </td>
          <td>
            <% if item.origin == "paid" %>
              <%= link_to 'Remover', item, confirm: 'Tem certeza?', method: :delete %>
            <% else %>
              
            <% end%>
          </td>
        </tr>
        <% end %>

        <tr>
          <td>
            TOTAL:
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <%= number_to_currency(@cart.total_price)%>
          </td>
          <td>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="row-fluid">
      <% if bNeed_number %>
		<%
			msgbox = "Numere todos os seus tickets antes de validar!"
		%>

		<%= link_to "Validar", msgbox_path + "?msgbox=" + msgbox, :class=>"btn btn-black btn-large btn-primary fancybox" %>

      <% else %>
        <% if @cart.tickets.count > 0 %>
          <% if @cart.total_price > 0 %>
            <%= link_to "Check out with paypal", @cart.paypal_url(user_url(current_user), payment_notifications_url), :class => "btn btn-large btn-primary" %>
          <% else %>
            <%= link_to "Validar", payment_not_needed_cart_path, :class => "btn btn-black btn-large btn-primary" %>
          <% end %>
        <% else %>
          <%= link_to "Your cart is empty", "#", :class => "btn btn-black btn-large btn-primary" %>
        <% end %>
      <% end %>
      <p><small>For your security, we use PayPal to checkout. It's a trustful way to do it.</small></p>
    </div> 
  </div> 
</div> <!-- class row -->
