<div>
<% @cart.cartitems.each do |item| %>

<fieldset>
  <div style="float:left;width:50px;">
    <%= item.picked_number %>
  </div>
  <div style="float:left;width:100px;">
    <%= item.draw.title%>
  </div>
  <div style="float:left;width:50px;">
    <%= item.quantity%>
  </div>
  <div style="float:left;width:50px;">
    <%= number_to_currency(item.unit_price)%>
  </div>
  <div style="float:left">
    <%= link_to 'Remove', item, confirm: 'Are you sure?', method: :delete %></td>
  </div>
  </fieldset>
<% end %>


TOTAL: <%= number_to_currency(@cart.total_price)%>
</div>
<%= link_to "Check out", @cart.paypal_url(user_url(current_user), payment_notifications_url), :class => "btn btn-large btn-primary" %>


