<h2>Emails</h2>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td>
				<%= @user.email %>
			</td>
			<td>
				(E-Mail Principal)
			</td>
		</tr>
<% @user.emails.each do |e| %> 
		<tr>
			<td><%= e.email %></td>
			<td>
	<% if e.valid_email %>
				<%= link_to "Definir como Pricipal", set_default_email_path(e), data: { confirm: 'Tem certeza?' } %> 
	<% else %>
				<%= link_to "Confirmar Email", send_confirmation_email_path(e) %> 
	<% end %>
	 			| <%= link_to 'Remover', e, method: :delete, data: { confirm: 'Tem certeza?' } %>
			</td>
<% end %>
		</tr>
		<tr>
			<td>
			</td>
			<td class="text-right">
			  <%= link_to "Adicionar Email", new_email_path, :class => "btn btn-primary" %> 
				<%= link_to "Voltar", user_path(current_user) + "/#t_tab1", :class => "btn btn-primary" %>						
			</td>
		</tr>
	</tbody>
</table>



