<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :ticket_price %><br />
    <%= f.text_field :ticket_price %>
  </div>
  <div class="field">
    <%= f.label :original_price %><br />
    <%= f.text_field :original_price %>
  </div>
  <div class="field">
    <%= f.label :fidelity_price %><br />
    <%= f.number_field :fidelity_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
