<%= simple_form_for(@user_session) do |f| %>
      <%= f.input :email %><br />
      <%= f.input :password %><br />
      <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true %>
			<%= f.submit "Login", class: "btn btn-large btn-primary" %>
			<p>New user? <%= link_to "Sign up now!", new_user_path %></p> 
			<p><%= link_to "Forgot password", new_password_reset_path %></p>
<% end %>



