<div style="height:50px;">
</div>
<footer>
  <div class="container">
      <div class="row">
          <div class="span12">
              <h3>ePick One</h3>
              <small><em>Não custa nada tentar.</em></small>
          </div>
      </div>
      <div class="row links-vertical" style="visited">
        <div class="span2">
            <ul>
                <li>Empresa</li>
                <li><%= link_to "Quem somos", about_path %></li>                  
                <!--<li><a href="">Imprensa</a></li> -->
                <li><%= link_to "Contact us", contact_path %></li>                  
            </ul>
        </div>
        
        <div class="span2">
          <ul>
              <li>Ajuda</li>
              <li><%= link_to "Como funciona", how_it_works_path %></li>                  
              <li><%= link_to "Termos de uso", term_path %></li>                  
              <li><%= link_to "Política de privacidade", privacy_path %></li>                  
          </ul>
        </div>
        <div class="span2">
          <ul>
              <li>Follow Us</li>
              <li><a href="">Twitter</a></li>
              <li><a href="">Facebook</a></li>
              <li><a href="">Google +</a></li>
          </ul>
        </div>
        <div class="span2">
          <ul>
              <li>Parceiros</li>
              <li><a href="">Parceiro 1</a></li>
              <li><a href="">Empresa 2</a></li>
          </ul>
        </div>          
        <div class="span2 offset1">
          <ul>
              <li><%= image_tag("paypal.png") %></li>
          </ul>
          
        </div>          
      </div>
      
      <p><small>Copyright ePick One Ltda. All rights reserved. Proudly made in Brazil.</small></p>
  </div>
</footer>
