<div class="footer">
	<div class="container">
    <div class="row margin-bottom">
	    <div class="col-md-12">
	        <div class="footer_brand">ePick One</div>
	        <small><em>Não custa nada tentar.</em></small>
	    </div>
    </div>
    <div class="row">
	    <div class="col-sm-3">
				<ul>
					<li>Empresa</li>
					<li><%= link_to "Quem somos", about_path %></li>                  
					<li><%= link_to "Contact us", contact_path %></li>                  
				</ul>
      </div>
	    <div class="col-sm-3">
				<ul>
					<li>Ajuda</li>
					<li><%= link_to "Como funciona", how_it_works_path %></li>                  
					<li><%= link_to "Termos de uso", term_path, :class=>"fancybox" %></li>                  
					<li><%= link_to "Pol. de priv.", privacy_path, :class=>"fancybox" %></li>                  
				</ul>
      </div>
	    <div class="col-sm-3">
				<ul>
					<li>Follow Us</li>
					<li><a target="_blank" href="https://www.facebook.com/pages/Epick-One-N%C3%A3o-custa-nada-tentar/242189715933871">Facebook</a></li>
				</ul>
      </div>
	    <div class="col-sm-3">
				<ul>
					<li>Parceiros</li>
					<li><a href="http://www.keepinvest.com.br" target="_blank">Keep Invest Capital</a></li>
				</ul>
      </div>          
	  </div>
    <div class="row">
	    <div class="col-md-12">
			  <p><small>Copyright ePick One Ltda. All rights reserved. Proudly made in Brazil.</small></p>
	    </div>
    </div>
  </div>
</div>
