<!DOCTYPE html>
<html lang='<%= I18n.locale%>'>
<head>
  <title><%= full_title(yield(:title)) %></title>      
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  
  <%= render 'layouts/shim' %>  
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" style="margin-top:20px;">
        <%= value %>
        <a class="close" data-dismiss="alert">x</a>
      </div>
    <% end %>
  </div>
  <div class="container" style="width:100%;">
    <%= yield :wide %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="container" style="width:100%">
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>  
</body>
</html>
